// style.scss

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

$primary-color: #396362;
$secondary-color: #4b8e8d;

body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-position: 0px -100px;
}

div.rss-rotator {
  width: 100%;
  align-self: flex-end;
  background-color: #fff;

  .title {
    padding: 20px;
    background-color: $primary-color;
    color: #fff;
  }
}